<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>BaiJamjuree-Bold.otf</string>
		<string>BaiJamjuree-Medium.otf</string>
		<string>BaiJamjuree-Regular.otf</string>
		<string>BaiJamjuree-SemiBold.otf</string>
		<string>BaiJamjuree-Light.otf</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Batched</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
  <key>NSAppTransportSecurity</key>
  <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
  </dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Play using while you are hiking </string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>App uses Bluetooth to find, connect and communicate with nearby devices</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>This application requires access to your Bluetooth</string>
	<key>NSCalendarsUsageDescription</key>
	<string>This app need to access your calendar events</string>
	<key>NSCameraUsageDescription</key>
	<string>This application requires access to your camera to scan QR codes</string>
	<key>NSContactsUsageDescription</key>
	<string>This application requires access to contacts to send and receive payments.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Your current location will be displayed on the map, it will be used to find your location and to enter cash refills.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Your current location will be displayed on the map, it will be used to find your location and to enter cash refills.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Your current location will be displayed on the map, it will be used to find your location and to enter cash refills.</string>
	<key>NSMotionUsageDescription</key>
	<string>This app needs to be able to access your motion use</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This application requires access to your gallery to update your profile image</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>This app requires speech recognition use.</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
